/*html, body {
  font-size: 1px;
  height: 100%;
} */



/* still parts */

.stillparts {
    background: url(../svg/stillparts.svg) 0 0; /* no-repeat; */
    /* width: calc(var(--width) * 0.2); */
    /* width: var(--width); */
    /* --max: 100%;
    width: var(--max);
    --dif: calc(var(--max) / 38.4);
    height:0;
    padding-bottom: var(--max);
    position: relative; */
    --max: 85vmin;
    width: var(--max);
    --dif: calc(var(--max) / 38.4);
    height:0;
    padding-bottom: var(--max);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* body parts */

.arm-up {
  background: url(../svg/arm-up.svg) 0 0 no-repeat;
  width: calc(var(--dif) * 5.6);
  /* width: calc(56vw * 0.2); */
  height: calc(var(--dif) * 3.6);
  /* height: calc(36vw * 0.2); */
  position: absolute;
  left: calc(var(--dif) * 19.6);
  top: calc(var(--dif) * 14.4);
  z-index: 1;
}

.hand-up {
  background: url(../svg/hand-up.svg) 0 0 no-repeat;
  width: calc(var(--dif) * 3.6);
  height: calc(var(--dif) * 4.2);
  position: absolute;
  left: calc(var(--dif) * 21.6);
  top: calc(var(--dif) * 10.4);
}

.armhand-down {
  background: url(../svg/armhand-down.svg) 0 0 no-repeat;
  width: calc(var(--dif) * 5.2);
  height: calc(var(--dif) * 7.6);
  position: absolute;
  left: calc(var(--dif) * 8.4);
  top: calc(var(--dif) * 14.4);
  z-index: 1;
}

.feet-down {
  background: url(../svg/feet-down.svg) 0 0 no-repeat;
  width: calc(var(--dif) * 4.8);
  height: calc(var(--dif) * 4.4);
  position: absolute;
  left: calc(var(--dif) * 18);
  top: calc(var(--dif) * 32.8);
}

.feet-up {
  background: url(../svg/feet-up.svg) 0 0 no-repeat;
  width: calc(var(--dif) * 4.4);
  height: calc(var(--dif) * 4);
  position: absolute;
  left: calc(var(--dif) * 28);
  top: calc(var(--dif) * 17.2);
}

.basketball {
    background: url(../svg/basketball-pattern.svg);
    background-size: calc(var(--dif) * 9.2);
    width: calc(var(--dif) * 9.2);
    height: calc(var(--dif) * 9.2);
    border-radius: 50%;
    position: absolute;
    left: calc(var(--dif) * 18.8);
    top: calc(var(--dif) * 1.2);
}

.soccer {
    background: url(../svg/soccer.svg) 0 0 no-repeat;
    background-size: calc(var(--dif) * 9.2);
    width: calc(var(--dif) * 9.2);
    height: calc(var(--dif) *9.2);
    position: absolute;
    border-radius: 50%;
    left: calc(var(--dif) * 25.6);
    top: calc(var(--dif) * 8);
}

.yo-yo {
    background: url(../svg/yo-yo.svg) 0 0 no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: calc(var(--dif) * 3.2);
    height: calc(var(--dif) * 12.2);
    position: absolute;
    left: calc(var(--dif) * 8.6);
    top: calc(var(--dif) * 20.4);
    transform-origin: center top;
}

.shuttlecock {
    background: url(../svg/shuttlecock.svg) 0 0 no-repeat;
    width: calc(var(--dif) * 5.2);
    height: calc(var(--dif) * 5.2);
    position: absolute;
    left: calc(var(--dif) * 19.8);
    top: calc(var(--dif) * 28.8);
    transform-origin: center bottom;
}
