/* variables */
:root {
  /* spacers */
  --spacer-m: 24px;
  --spacer-l: 48px;
  --spacer-xl: 96px;
  /* thumbnail sizes */
  --thumb-spot-icon-m: 30%;
  --thumb-spot: 100%;
  /* margins */
  --site-margin: var(--spacer-m);
  --site-width: calc(100vw - var(--site-margin) * 2); }

/* reset */
html {
  box-sizing: border-box;
  background-color: #fafafa; }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

svg {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  text-align: left; }

.site-header {
  display: flex;
  position: relative;
  padding-top: calc(var(--spacer-l) - var(--spacer-m));
  padding-bottom: var(--spacer-l);
  padding-left: var(--spacer-l);
  padding-right: var(--spacer-l); }

.site-header__title {
  flex-basis: 50%; }

.site-nav {
  display: inline;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: flex-end; }

ul li {
  display: inline;  }

li {
  margin-left: 25px;
}

/* structure */
.site-container {
  margin: var(--site-margin);
  /* border: 1px solid red; */ }

.thumbnail-container {
  width: var(--site-width);
  margin-left: var(--site-margin);
  margin-right: var(--site-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.thumbnail-item {
  display: flex;
  justify-content: center;
  align-items: center; }

.white {
  background-color: white; }

.scene {
  width: var(--thumb-scene);
  height: var(--thumb-scene); }

.spot {
  width: calc(.75 * var(--thumb-spot));
  height: var(--thumb-spot); }

.spot-border {
  border: 1px solid #d0d0d0; }

.spot-frame {
  width: 90%;
  height: auto; }

.spot-m {
  width: 50%;
  height: auto; }

.spot-l {
  width: 75%;
  height: auto; }

.icon {
  width: var(--thumb-spot-icon-m);
  height: var(--thumb-spot-icon-m); }

@media screen and (min-width: 400px) and (max-width: 700px) {
  .thumbnail-item {
    width: calc((var(--site-width)/2));
    height: calc((var(--site-width)/2)); } }

@media screen and (min-width: 700px) and (max-width: 900px) {
  .thumbnail-item {
    width: calc((var(--site-width)/3));
    height: calc((var(--site-width)/3)); } }

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .thumbnail-item {
    width: calc((var(--site-width)/4));
    height: calc((var(--site-width)/4)); } }

@media screen and (min-width: 1200px) and (max-width: 3000px) {
  .thumbnail-item {
    width: calc((var(--site-width)/5));
    height: calc((var(--site-width)/5)); } }

/* semantic HTML for legacy browsers */
header {
  display: flex;
  position: fixed;
  margin: 0 auto;
  z-index: 1; }

nav {
  width: 100%;
  display: flex; }

.nav__ul {
  list-style-type: none;
  padding: 0.5em; }

.nav__li {
  padding: 0.1em; }

article {
  scroll-snap-align: start;
  width: 100%;
  display: flex; }

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.caption {
  width: 60%;
  padding: 5vmin; }

.sportsplayer {
  background-color: #1E8449; }

.everydayfood {
  background-color: #F0C10C;
  /* #D4AC0D */ }

.biodynamicfarming {
  background-color: #FAE5D3; }

aside {
  width: 100%;
  display: flex; }

footer {
  width: 100%;
  display: flex; }

/* special elements */
.element-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.element-container-40 {
  width: 40vmin;
  height: 40vmin; }

.element-container-66 {
  width: 66vmin;
  height: 66vmin; }

.element-container-70 {
  width: 70vmin;
  height: 70vmin; }

.item-icon {
  width: 25vmin;
  height: 25vmin; }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }

.project_item-pannel {
  /* Full Screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }

.project_item--s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }

.project_item--m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }

.project_item--l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5em; }

.thin {
  font-weight: 200; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 600; }

.extraBold {
  font-weight: 700; }

.black {
  font-weight: 800; }

.extraBlack {
  font-weight: 900; }

a {
  text-decoration: none; }
