* {
 /* border: 1px solid red;  /* For debugging */
}

/* semantic HTML for legacy browsers */
header {
  display: flex;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
}

nav {
  width: 100%;
  display: flex;
}

.nav {
}

.nav__ul {
  list-style-type: none;
  padding: 0.5em;
}

.nav__li {
  padding: 0.1em;
}

article {
  width: 100%;
  display: flex;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sportsplayer {
  background-color: #1E8449;
}

.everydayfood {
  background-color: #D4AC0D;
}

.biodynamicfarming {
  background-color: #FAE5D3;
}

aside {
  width: 100%;
  display: flex;
}

footer {
  width: 100%;
  display: flex;
}

/* special elements */

.card-container {
  width: 60vmin;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card-container2 {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card-item-icon {
  padding: 15vmin;
}
