path {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
  stroke-dasharray: 200;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: draw 5s infinite;
  /* animation-delay: 1s; */
  animation-fill-mode: backwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
